<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- ! Styles -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- ! Icons -->
    <script src="https://kit.fontawesome.com/d90e43a863.js" crossorigin="anonymous"></script>
    
    <!-- ! Web icons -->

    <link rel="shortcut icon" href="img/logo.png">

    <title>HomePage</title>
</head>
<body>

    <div class="topbar">
        <a href="/"><i class="fa-brands fa-slack"></i> Home</a>
        <a href="/projects">Projects</a>
    </div>

    <div class="intro">     
        <div class="intro_content">
            <div>
                <img src="img/main_pic.jpeg" alt="img" srcset="">
            </div>
            <h1>I'm Roger Fibla</h1>
            <h3>An international baccalaureate student and a self-learner programmer</h3>
        </div>
    </div>

    <div class="content1">

        <div class="programming">
            <h1>Programming languages I know</h1>
            
            <div>
                <i class="fa-brands fa-python"></i>
                <i class="fa-brands fa-html5"></i>
                <i class="fa-brands fa-css3"></i>
                <i class="fa-brands fa-sass"></i>
                <i class="fa-brands fa-js"></i>
                <i class="fa-solid fa-terminal"></i>
                <i class="fa-solid fa-t"></i>
                <i class="fa-brands fa-rust"></i>
            </div>

            <p>Python - HTML - CSS - SCSS - JavaScript - Shell/Batch - LaTeX - Rust</p>
        </div> 
        <div class="search_engine">
            <h1>Check out my search engine</h1>
            <div><button><a href="/search">Search Engine</a></button></div>
        </div>       
    </div>

<!---->

    <script src="/app/js/app.js"></script>
</body>
</html>
