<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    
    <script src="https://kit.fontawesome.com/d90e43a863.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/logo.png">

    <link rel="stylesheet" href="css/search_info.css">
    
    
    <title>Search Engine - Info</title>
</head>
<body>
    <div class="info-1">
        <h1>Basic information</h1>

        <ul>
            <li><b>Default search engine:</b> DuckDuckGo </li>
            <li>
                <b>All aviable search engines:</b>
                <ol>
                    <li>Google</li>
                    <li>Bing</li>
                    <li>ThePirateBay</li>
                    <li>StartPage</li>
                    <li>Searx</li>
                </ol>
            </li>
        </ul>
        <br>
        <h1>How to change search engine</h1>

        <ul class="how-to-search">
            <li>google: [search]</li>
            <li>bing: [search]</li>
            <li>pirate: [search]</li>
            <li>start: [search]</li>
            <li>searx: [search]</li>
        </ul>

        <br>

        <h1>Extra information</h1>

        <div>
            <ul><li>
                <img class="image" src="img/logo.png" alt="logo">
                Website's github repo: <a href="https://github.com/lxbx44/website">website</a>
            </li></ul>
        </div>

        <br>
        <div class="image">
            
        </div>
        
    </div>
</body>
</html>