// Using NordTheme
// https://www.nordtheme.com

@import 'keyframes.scss';

$bg-1: #232634;
$bg-2: #292c3c;
$bg-3: #303446;

$white-1: #c6d0f5;
$white-2: #b5bfe2;
$white-3: #a5adce;

$blue-1: #babbf1;
$blue-2: #8caaee;
$blue-3: #85c1dc;
$sky: #99d1db;


$purple: #ca9ee6;
$green: #a6d189;
$yellow: #e5c890;
$orange: #ef9f76;
$red: #e78284;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'JetBrains Mono', monospace;
}

body {
    background-color: $bg-1;
    font-family: 'JetBrains Mono', monospace;
    overflow-x: hidden;
} 

.topbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        color: $blue-1;
        font-size: 1.7rem;
        padding: 0.5rem 1.5rem;
        border-radius: 100px;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    a:hover {
        color: $bg-1;
        background-color: $sky;
        border-radius: 20px;
    }
}

.code {
    color: $sky;
    background-color: $bg-3;
    border-radius: 5px;
    padding: 0.3rem 0.7rem;
}
.hov_copy {
    padding: 0.1rem 0.4rem;
}
.hov_copy:hover {
    background-color: gray;
    border-radius: 15px;
    transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    min-height: 100vh;
    .main {
        height: 90vh;
        width: 50vw;
        margin-left: 10vw;
        * {
            line-height: 1.5;
        }
        h1 {
            color: $blue-1;
            margin: 2rem 0rem;
        
            img {
                margin-right: 0.5rem;
                width: 1.8rem;
            }
        }

        // MODIFY FOR EACH PROJECT

        .bold_a {font-weight: bold;}
        .col {
            color: $sky;
            background-color: $bg-3;
            border-radius: 5px;
        }
        .pm {
            height: auto;
            margin: 0;        
            color: $blue-1;
            
            h2 {margin-top: 2rem;}
            h3 {margin-top: 1.75rem;}
            h4 {margin-top: 1.5rem;}
            h5 {margin-top: 1.25rem;}
            p {margin-top: 0.75rem;
               font-size: 1rem;}

            ul, ol {
                margin-left: 2rem;
                margin-top: 1rem;
                li {margin-top: 0.75rem;}
            }

            a {
                text-decoration: underline;
                color: $sky;
            } a:hover {background-color: $sky;
                       color: $bg-1;
                       border-radius: 5px;
                       transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}
        }

    }

    .info {
        background-color: $bg-3;
        position: fixed;
        height: auto;
        width: auto;
        
        right: 6vw;
        
        padding: 2rem 3rem;
        padding-bottom: 3rem;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        //align-self: center;

        color: $blue-1;
         
        h3 {
            font-size: 1.1rem;
            margin-top: 0.75rem;
            font-weight: bold;
        }
        p {
            font-size: 0.9rem;
            margin-top: 0.5rem;
            color: $sky;
            a {
                text-decoration: underline;
                color: $sky;
            } a:hover {background-color: $sky;
                       color: $bg-1;
                       border-radius: 5px;
                       transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);}
        }
    }
}


.popup {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: $green;
    padding: 1rem 2rem;
    border-radius: 10px;
    opacity: 0;
}
